/* -- onepage-form css
-------------------------------------- -- */

input,
textarea {
    height: 50px;
    font-family: $primary-font;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    font-weight: 300;
    background: #171085;
    border: none;
    outline: none;
    @include border-radius($radius);
    padding: 1.5rem 2rem;
}

.o-contact-form {
    input,
    textarea {
        width: 100%;
        margin: 10px 0;
    }
}

.o-contact-form textarea {
    min-height: 10rem;
    margin-bottom: 3rem;
}

.o-newsletter-form {
    margin-bottom: 6rem;
    padding-left: 0;
    max-width: 100%;
    padding: 3.8rem 4rem;
    .o-newsletter {
        margin-left: 4rem;
        input {
            width: 100%;
            height: 5.4rem;
            margin-bottom: 0;
        }
        .btn {
            margin-left: 10px;
        }
    }
}

.err-msg {
    color: #EF5350;
}

.success-msg {
    position: relative;
    bottom: 25px;
    color: #4CAF50;
}

::-webkit-input-placeholder {
    color: $para-color !important;
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $para-color !important;
    opacity: 1;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $para-color !important;
    opacity: 1;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $para-color !important;
    opacity: 1;
}

::-ms-input-placeholder {
    /* Edge */
    color: $para-color !important;
    opacity: 1;
}

:placeholder-shown {
    /* Standard one last! */
    color: $para-color !important;
    opacity: 1;
}