// Custom Variables
$primary-font: 'Lato',
sans-serif;
$secondary-font: 'Titillium Web',
sans-serif;
$tertiary-font: 'Mina',
sans-serif;
$primary-1-color: #2e64fe;
$primary-2-color: #4184fc;
$secondary-1-color: #933eff;
$secondary-2-color: #8f5eff;
$bg-color: #0d086a;
$btn-color: #4039D4;
$heading-lighter: #47d2f4;
$para-color: #9eb8e9;
$para-dark-color: #3c5d9d;
$radius: 5px;
$btn-radius: 50px;