.main-menu .navbar-nav li .megamenu {
    padding-right: 25px;
}

.main-menu .navbar-nav li li{
    padding-left: 20px;
}

.main-menu .navbar-nav li>.dropdown-menu .megamenu li a{
    padding-left: 0;
}
.main-menu .navbar-nav li a:not(.btn) span {
    top: 3px;
    left: -25px;
}